[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
# For Plone 3:
#    http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
#versions = plone3versions

extensions += buildout.dumppickedversions
package-name = collective.catalogcleanup
test-eggs = collective.catalogcleanup[test]
parts +=
    coverage-report
    omelette


[versions]
collective.recipe.omelette = 0.12
buildout.dumppickedversions = 0.5
collective.noindexing = 1.2


[plone3versions]
<= versions
# For Plone 3.
Products.CMFPlone = 4.0b1
distribute = 0.6.26
plone.app.testing = 3.0a1
plone.testing = 3.0a2
unittest2 = 0.5.1
z3c.coverage = 1.2.0


[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}


# Coverage report generator.
# Run: ``bin/test --coverage=coverage``
# and then: ``bin/coveragereport``
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')
